{
  "__inputs": [
    {
      "name": "DS_OPENCAST-METRIKEN",
      "label": "Opencast-Metriken",
      "description": "",
      "type": "datasource",
      "pluginId": "prometheus",
      "pluginName": "Prometheus"
    }
  ],
  "__elements": [
    {
      "name": "Host Metadata",
      "uid": "UpQ1cd_nz",
      "kind": 1,
      "model": {
        "datasource": {
          "type": "prometheus",
          "uid": "${DS_OPENCAST-METRIKEN}"
        },
        "description": "",
        "fieldConfig": {
          "defaults": {
            "color": {
              "mode": "thresholds"
            },
            "custom": {
              "align": "auto",
              "displayMode": "auto",
              "filterable": true,
              "inspect": false
            },
            "mappings": [
              {
                "options": {
                  "from": 0,
                  "result": {
                    "text": ""
                  },
                  "to": 0
                },
                "type": "range"
              }
            ],
            "thresholds": {
              "mode": "absolute",
              "steps": [
                {
                  "color": "green",
                  "value": null
                },
                {
                  "color": "red",
                  "value": 80
                }
              ]
            }
          },
          "overrides": [
            {
              "matcher": {
                "id": "byName",
                "options": "Host"
              },
              "properties": [
                {
                  "id": "custom.width",
                  "value": 130
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Memory Total"
              },
              "properties": [
                {
                  "id": "custom.filterable",
                  "value": false
                },
                {
                  "id": "unit",
                  "value": "bytes"
                },
                {
                  "id": "custom.width",
                  "value": 120
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "RootFS Total"
              },
              "properties": [
                {
                  "id": "unit",
                  "value": "bytes"
                },
                {
                  "id": "custom.width",
                  "value": 120
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Uptime"
              },
              "properties": [
                {
                  "id": "custom.width",
                  "value": 120
                },
                {
                  "id": "unit",
                  "value": "s"
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "Cert. Expires In"
              },
              "properties": [
                {
                  "id": "unit",
                  "value": "s"
                },
                {
                  "id": "custom.filterable",
                  "value": false
                },
                {
                  "id": "custom.displayMode",
                  "value": "basic"
                },
                {
                  "id": "thresholds",
                  "value": {
                    "mode": "absolute",
                    "steps": [
                      {
                        "color": "red",
                        "value": null
                      },
                      {
                        "color": "#EAB839",
                        "value": 604800
                      },
                      {
                        "color": "green",
                        "value": 2592000
                      }
                    ]
                  }
                },
                {
                  "id": "custom.width",
                  "value": 143
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "OS Version"
              },
              "properties": [
                {
                  "id": "custom.width",
                  "value": 150
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "CPU Cores"
              },
              "properties": [
                {
                  "id": "custom.width",
                  "value": 120
                }
              ]
            },
            {
              "matcher": {
                "id": "byName",
                "options": "VM Name"
              },
              "properties": [
                {
                  "id": "custom.width",
                  "value": 214
                }
              ]
            }
          ]
        },
        "gridPos": {
          "h": 25,
          "w": 24,
          "x": 0,
          "y": 7
        },
        "id": 28,
        "options": {
          "footer": {
            "fields": "",
            "reducer": [
              "sum"
            ],
            "show": false
          },
          "showHeader": true,
          "sortBy": []
        },
        "pluginVersion": "9.0.2",
        "targets": [
          {
            "datasource": {
              "type": "prometheus",
              "uid": "${DS_OPENCAST-METRIKEN}"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(node_uname_info, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "range": false,
            "refId": "G"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "${DS_OPENCAST-METRIKEN}"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(node_memory_MemTotal_bytes, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
            "format": "table",
            "instant": true,
            "interval": "",
            "legendFormat": "__auto",
            "range": false,
            "refId": "A"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "${DS_OPENCAST-METRIKEN}"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(node_filesystem_size_bytes{mountpoint=\"/\",fstype!=\"rootfs\"}, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "interval": "",
            "legendFormat": "__auto",
            "refId": "B"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "${DS_OPENCAST-METRIKEN}"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(count without(cpu, mode) (node_cpu_seconds_total{mode=\"idle\"}), \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "range": false,
            "refId": "F"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "${DS_OPENCAST-METRIKEN}"
            },
            "editorMode": "code",
            "exemplar": false,
            "expr": "label_replace(node_time_seconds - node_boot_time_seconds, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "interval": "",
            "legendFormat": "__auto",
            "refId": "C"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "${DS_OPENCAST-METRIKEN}"
            },
            "exemplar": false,
            "expr": "label_replace(probe_ssl_earliest_cert_expiry - time(), \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "interval": "",
            "legendFormat": "SSL Expiry",
            "refId": "D"
          },
          {
            "datasource": {
              "type": "prometheus",
              "uid": "${DS_OPENCAST-METRIKEN}"
            },
            "exemplar": false,
            "expr": "label_replace(node_os_info, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
            "format": "table",
            "hide": false,
            "instant": true,
            "interval": "",
            "legendFormat": "",
            "refId": "E"
          }
        ],
        "title": "Host Metadata",
        "transformations": [
          {
            "id": "seriesToColumns",
            "options": {
              "byField": "instance"
            }
          },
          {
            "id": "organize",
            "options": {
              "excludeByName": {
                "Time 1": true,
                "Time 2": true,
                "Time 3": true,
                "Time 4": true,
                "Time 5": true,
                "Time 6": true,
                "Time 7": true,
                "Value #E": true,
                "Value #G": true,
                "__name__": true,
                "__name__ 1": true,
                "__name__ 2": true,
                "__name__ 3": true,
                "__name__ 4": true,
                "device": true,
                "domainname": true,
                "environment 1": true,
                "environment 2": true,
                "environment 3": true,
                "environment 4": true,
                "environment 5": true,
                "environment 6": true,
                "environment 7": true,
                "fstype": true,
                "id": true,
                "id_like": true,
                "instance": false,
                "job 1": true,
                "job 2": true,
                "job 3": true,
                "job 4": true,
                "job 5": true,
                "job 6": true,
                "job 7": true,
                "machine": true,
                "mountpoint": true,
                "name": true,
                "release": true,
                "sysname": true,
                "version": true,
                "version 2": true,
                "version_codename": true,
                "version_id": true
              },
              "indexByName": {},
              "renameByName": {
                "Time 1": "Time",
                "Time 2": "",
                "Value #A": "Memory Total",
                "Value #B": "RootFS Total",
                "Value #C": "Uptime",
                "Value #D": "Cert. Expires In",
                "Value #F": "CPU Cores",
                "__name__ 1": "",
                "environment 1": "Environment",
                "environment 4": "",
                "instance": "Host",
                "job 4": "",
                "nodename": "VM Name",
                "pretty_name": "OS Version"
              }
            }
          }
        ],
        "transparent": true,
        "type": "table"
      }
    }
  ],
  "__requires": [
    {
      "type": "grafana",
      "id": "grafana",
      "name": "Grafana",
      "version": "9.0.2"
    },
    {
      "type": "datasource",
      "id": "prometheus",
      "name": "Prometheus",
      "version": "1.0.0"
    },
    {
      "type": "panel",
      "id": "stat",
      "name": "Stat",
      "version": ""
    },
    {
      "type": "panel",
      "id": "table",
      "name": "Table",
      "version": ""
    },
    {
      "type": "panel",
      "id": "timeseries",
      "name": "Time series",
      "version": ""
    }
  ],
  "annotations": {
    "list": [
      {
        "builtIn": 1,
        "datasource": {
          "type": "grafana",
          "uid": "-- Grafana --"
        },
        "enable": true,
        "hide": true,
        "iconColor": "rgba(0, 211, 255, 1)",
        "name": "Annotations & Alerts",
        "target": {
          "limit": 100,
          "matchAny": false,
          "tags": [],
          "type": "dashboard"
        },
        "type": "dashboard"
      }
    ]
  },
  "editable": true,
  "fiscalYearStartMonth": 0,
  "graphTooltip": 0,
  "id": null,
  "links": [],
  "liveNow": false,
  "panels": [
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_OPENCAST-METRIKEN}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 2,
        "w": 4,
        "x": 0,
        "y": 0
      },
      "id": 17,
      "options": {
        "colorMode": "none",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "editorMode": "code",
          "expr": "opencast_version{instance=\"{{ your_admin_regex }}\"}",
          "legendFormat": "{{part}}",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "📹 OC-Version",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_OPENCAST-METRIKEN}"
      },
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "ERROR"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "dark-red",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "NORMAL"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "dark-green",
                  "mode": "fixed"
                }
              }
            ]
          },
          {
            "matcher": {
              "id": "byName",
              "options": "WARNING"
            },
            "properties": [
              {
                "id": "color",
                "value": {
                  "fixedColor": "dark-orange",
                  "mode": "fixed"
                }
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 4,
        "w": 4,
        "x": 4,
        "y": 0
      },
      "id": 21,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "editorMode": "code",
          "expr": "opencast_services_total{environment=\"production\"}",
          "legendFormat": "{{state}}",
          "range": true,
          "refId": "A"
        }
      ],
      "title": "🚦 Services by State",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_OPENCAST-METRIKEN}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 4,
        "x": 8,
        "y": 0
      },
      "id": 23,
      "options": {
        "colorMode": "none",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "expr": "opencast_workflow_active{environment=\"production\"}",
          "refId": "A"
        }
      ],
      "title": "🤸 Active Workflows",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_OPENCAST-METRIKEN}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 4,
        "x": 12,
        "y": 0
      },
      "id": 34,
      "options": {
        "colorMode": "none",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "expr": "opencast_asset_manager_events{environment=\"production\"}",
          "refId": "A"
        }
      ],
      "title": "Asset Manager Events",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_OPENCAST-METRIKEN}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "max": 100,
          "min": 0,
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              }
            ]
          }
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 4,
        "x": 16,
        "y": 0
      },
      "id": 33,
      "options": {
        "colorMode": "none",
        "graphMode": "none",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "expr": "max(opencast_job_load_max)",
          "refId": "A"
        }
      ],
      "title": "Max Job Load",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_OPENCAST-METRIKEN}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          },
          "unit": "percent"
        },
        "overrides": []
      },
      "gridPos": {
        "h": 4,
        "w": 4,
        "x": 20,
        "y": 0
      },
      "id": 32,
      "options": {
        "colorMode": "value",
        "graphMode": "area",
        "justifyMode": "auto",
        "orientation": "auto",
        "reduceOptions": {
          "calcs": [
            "lastNotNull"
          ],
          "fields": "",
          "values": false
        },
        "textMode": "auto"
      },
      "pluginVersion": "9.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "expr": "  100 - (\n    (\n      node_filesystem_avail_bytes{environment=\"production\", instance=\"{{ your_admin_regex }}\", mountpoint=\"/mnt/opencaststorage\"} * 100\n    ) / node_filesystem_size_bytes{environment=\"production\", instance=\"{{ your_admin_regex }}\", mountpoint=\"/mnt/opencaststorage\"}\n  )",
          "refId": "A"
        }
      ],
      "title": "🗄️ NFS Usage",
      "type": "stat"
    },
    {
      "datasource": {
        "type": "prometheus",
        "uid": "${DS_OPENCAST-METRIKEN}"
      },
      "description": "",
      "fieldConfig": {
        "defaults": {
          "color": {
            "mode": "thresholds"
          },
          "custom": {
            "align": "auto",
            "displayMode": "auto",
            "inspect": false,
            "minWidth": 100,
            "width": 150
          },
          "mappings": [],
          "thresholds": {
            "mode": "absolute",
            "steps": [
              {
                "color": "green",
                "value": null
              },
              {
                "color": "red",
                "value": 80
              }
            ]
          }
        },
        "overrides": [
          {
            "matcher": {
              "id": "byName",
              "options": "runtime"
            },
            "properties": [
              {
                "id": "custom.width",
                "value": 232
              }
            ]
          }
        ]
      },
      "gridPos": {
        "h": 2,
        "w": 4,
        "x": 0,
        "y": 2
      },
      "id": 31,
      "options": {
        "footer": {
          "fields": "",
          "reducer": [
            "sum"
          ],
          "show": false
        },
        "showHeader": false,
        "sortBy": []
      },
      "pluginVersion": "9.0.2",
      "targets": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "editorMode": "code",
          "exemplar": false,
          "expr": "jvm_info{instance=\"{{ your_admin_regex }}\"}",
          "format": "table",
          "instant": true,
          "legendFormat": "{{part}}",
          "range": false,
          "refId": "A"
        }
      ],
      "title": "☕ Java-Version",
      "transformations": [
        {
          "id": "organize",
          "options": {
            "excludeByName": {
              "Time": true,
              "Value": true,
              "__name__": true,
              "environment": true,
              "instance": true,
              "job": true,
              "runtime": false,
              "vendor": true
            },
            "indexByName": {},
            "renameByName": {}
          }
        }
      ],
      "type": "table"
    },
    {
      "collapsed": true,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 4
      },
      "id": 2,
      "panels": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 80
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 0,
            "y": 5
          },
          "id": 25,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(opencast_job_load_current{environment=\"production\", host=~\"{{ your_admin_regex }}|{{ your_presentation_regex }}\"}, \"short_hostname\", \"$1\", \"host\", \"https://{{ your_domain_regex }}\")",
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "A"
            }
          ],
          "title": "🧑‍🏭 Job Load",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 1,
              "mappings": [],
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  }
                ]
              },
              "unit": "bps"
            },
            "overrides": [
              {
                "matcher": {
                  "id": "byRegexp",
                  "options": ".* \\(incoming\\)"
                },
                "properties": [
                  {
                    "id": "custom.lineStyle",
                    "value": {
                      "dash": [
                        0,
                        10
                      ],
                      "fill": "dot"
                    }
                  }
                ]
              }
            ]
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 5
          },
          "id": 10,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(rate(node_network_transmit_bytes_total{device=\"eth0\", environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\"}[5m]) * 8, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "legendFormat": "{{short_hostname}} (outgoing)",
              "range": true,
              "refId": "B"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(rate(node_network_receive_bytes_total{device=\"eth0\", environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\"}[5m]) * 8, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "legendFormat": "{{short_hostname}} (incoming)",
              "range": true,
              "refId": "A"
            }
          ],
          "title": "⛖ Traffic",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 80
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 0,
            "y": 13
          },
          "id": 6,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(node_load1{environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\"}, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "A"
            }
          ],
          "title": "🥵  load1",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 1,
              "mappings": [],
              "max": 100,
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 90
                  }
                ]
              },
              "unit": "percent"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 13
          },
          "id": 9,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(\n  100 - (\n    (\n      node_filesystem_avail_bytes{environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\", mountpoint=\"/\", fstype!=\"rootfs\"} * 100\n    ) / node_filesystem_size_bytes{environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\", mountpoint=\"/\", fstype!=\"rootfs\"}\n  )\n, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "B"
            }
          ],
          "title": "💽 Storage Utilization (root-fs)",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 0,
              "mappings": [],
              "max": 100,
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 90
                  }
                ]
              },
              "unit": "percent"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 0,
            "y": 21
          },
          "id": 7,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(\n    (\n        (\n            node_memory_MemTotal_bytes{environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\"} -\n            (\n                node_memory_MemAvailable_bytes{environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\"}\n            )\n        ) / node_memory_MemTotal_bytes{environment=\"production\", instance=~\"oc-admin.*|video4.*|oc-db.*\"}\n    ) * 100, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "instant": false,
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "B"
            }
          ],
          "title": "🐘 Memory Usage",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 0,
              "mappings": [],
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 90
                  }
                ]
              },
              "unit": "bytes"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 21
          },
          "id": 35,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(jvm_memory_bytes_used{instance=~\"oc-admin.*|video4.*|oc-db.*\", area=\"heap\"}, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "instant": false,
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "B"
            }
          ],
          "title": "☕ JVM Heap Size",
          "type": "timeseries"
        }
      ],
      "title": "Admin/Presentation",
      "type": "row"
    },
    {
      "collapsed": true,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 5
      },
      "id": 4,
      "panels": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "mappings": [],
              "min": 0,
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 80
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 0,
            "y": 6
          },
          "id": 26,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(opencast_job_load_current{environment=\"production\", host=~\"{{ your_worker_regex }}\"}, \"short_hostname\", \"$1\", \"host\", \"{{ your_domain_regex }}\")",
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "A"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "expr": "",
              "hide": false,
              "refId": "B"
            }
          ],
          "title": "🧑‍🏭 Job Load",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 1,
              "mappings": [],
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  }
                ]
              },
              "unit": "bps"
            },
            "overrides": [
              {
                "matcher": {
                  "id": "byRegexp",
                  "options": ".* \\(incoming\\)"
                },
                "properties": [
                  {
                    "id": "custom.lineStyle",
                    "value": {
                      "dash": [
                        0,
                        10
                      ],
                      "fill": "dot"
                    }
                  }
                ]
              }
            ]
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 6
          },
          "id": 12,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(rate(node_network_transmit_bytes_total{device=\"eth0\", environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\"}[5m]) * 8, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "legendFormat": "{{short_hostname}} (outgoing)",
              "range": true,
              "refId": "B"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(rate(node_network_receive_bytes_total{device=\"eth0\", environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\"}[5m]) * 8, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "legendFormat": "{{short_hostname}} (incoming)",
              "range": true,
              "refId": "A"
            }
          ],
          "title": "⛖ Traffic",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "mappings": [],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 80
                  }
                ]
              }
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 0,
            "y": 14
          },
          "id": 11,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(node_load1{environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\"}, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "A"
            }
          ],
          "title": "🥵 load1",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 1,
              "mappings": [],
              "max": 100,
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 90
                  }
                ]
              },
              "unit": "percent"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 14
          },
          "id": 15,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "expr": "label_replace(\n  100 - (\n    (\n      node_filesystem_avail_bytes{environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\", mountpoint=\"/\", fstype!=\"rootfs\"} * 100\n    ) / node_filesystem_size_bytes{environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\", mountpoint=\"/\", fstype!=\"rootfs\"}\n  )\n, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "B"
            }
          ],
          "title": "💽 Storage Utilization (root-fs)",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 0,
              "mappings": [],
              "max": 100,
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 90
                  }
                ]
              },
              "unit": "percent"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 0,
            "y": 22
          },
          "id": 13,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(\n    (\n        (\n            node_memory_MemTotal_bytes{environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\"} -\n            (\n                node_memory_MemAvailable_bytes{environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\"}\n            )\n        ) / node_memory_MemTotal_bytes{environment=\"production\", instance=~\"oc-worker[0-9]{2}.*\"}\n    ) * 100, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "instant": false,
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "B"
            }
          ],
          "title": "🐘 Memory Usage",
          "type": "timeseries"
        },
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "palette-classic"
              },
              "custom": {
                "axisLabel": "",
                "axisPlacement": "auto",
                "barAlignment": 0,
                "drawStyle": "line",
                "fillOpacity": 0,
                "gradientMode": "none",
                "hideFrom": {
                  "legend": false,
                  "tooltip": false,
                  "viz": false
                },
                "lineInterpolation": "linear",
                "lineWidth": 1,
                "pointSize": 5,
                "scaleDistribution": {
                  "type": "linear"
                },
                "showPoints": "auto",
                "spanNulls": false,
                "stacking": {
                  "group": "A",
                  "mode": "none"
                },
                "thresholdsStyle": {
                  "mode": "off"
                }
              },
              "decimals": 0,
              "mappings": [],
              "min": 0,
              "thresholds": {
                "mode": "percentage",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 90
                  }
                ]
              },
              "unit": "bytes"
            },
            "overrides": []
          },
          "gridPos": {
            "h": 8,
            "w": 12,
            "x": 12,
            "y": 22
          },
          "id": 36,
          "options": {
            "legend": {
              "calcs": [],
              "displayMode": "table",
              "placement": "right"
            },
            "tooltip": {
              "mode": "single",
              "sort": "none"
            }
          },
          "pluginVersion": "8.5.1",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(jvm_memory_bytes_used{instance=~\"oc-worker[0-9]{2}.*\", area=\"heap\"}, \"short_hostname\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "hide": false,
              "instant": false,
              "legendFormat": "{{short_hostname}}",
              "range": true,
              "refId": "B"
            }
          ],
          "title": "☕ JVM Heap Size",
          "type": "timeseries"
        }
      ],
      "title": "Worker Hosts",
      "type": "row"
    },
    {
      "collapsed": true,
      "gridPos": {
        "h": 1,
        "w": 24,
        "x": 0,
        "y": 6
      },
      "id": 30,
      "panels": [
        {
          "datasource": {
            "type": "prometheus",
            "uid": "${DS_OPENCAST-METRIKEN}"
          },
          "description": "",
          "fieldConfig": {
            "defaults": {
              "color": {
                "mode": "thresholds"
              },
              "custom": {
                "align": "auto",
                "displayMode": "auto",
                "filterable": true,
                "inspect": false
              },
              "mappings": [
                {
                  "options": {
                    "from": 0,
                    "result": {
                      "text": ""
                    },
                    "to": 0
                  },
                  "type": "range"
                }
              ],
              "thresholds": {
                "mode": "absolute",
                "steps": [
                  {
                    "color": "green",
                    "value": null
                  },
                  {
                    "color": "red",
                    "value": 80
                  }
                ]
              }
            },
            "overrides": [
              {
                "matcher": {
                  "id": "byName",
                  "options": "Host"
                },
                "properties": [
                  {
                    "id": "custom.width",
                    "value": 130
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "Memory Total"
                },
                "properties": [
                  {
                    "id": "custom.filterable",
                    "value": false
                  },
                  {
                    "id": "unit",
                    "value": "bytes"
                  },
                  {
                    "id": "custom.width",
                    "value": 120
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "RootFS Total"
                },
                "properties": [
                  {
                    "id": "unit",
                    "value": "bytes"
                  },
                  {
                    "id": "custom.width",
                    "value": 120
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "Uptime"
                },
                "properties": [
                  {
                    "id": "custom.width",
                    "value": 120
                  },
                  {
                    "id": "unit",
                    "value": "s"
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "Cert. Expires In"
                },
                "properties": [
                  {
                    "id": "unit",
                    "value": "s"
                  },
                  {
                    "id": "custom.filterable",
                    "value": false
                  },
                  {
                    "id": "custom.displayMode",
                    "value": "basic"
                  },
                  {
                    "id": "thresholds",
                    "value": {
                      "mode": "absolute",
                      "steps": [
                        {
                          "color": "red",
                          "value": null
                        },
                        {
                          "color": "#EAB839",
                          "value": 604800
                        },
                        {
                          "color": "green",
                          "value": 2592000
                        }
                      ]
                    }
                  },
                  {
                    "id": "custom.width",
                    "value": 143
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "OS Version"
                },
                "properties": [
                  {
                    "id": "custom.width",
                    "value": 150
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "CPU Cores"
                },
                "properties": [
                  {
                    "id": "custom.width",
                    "value": 120
                  }
                ]
              },
              {
                "matcher": {
                  "id": "byName",
                  "options": "VM Name"
                },
                "properties": [
                  {
                    "id": "custom.width",
                    "value": 214
                  }
                ]
              }
            ]
          },
          "gridPos": {
            "h": 25,
            "w": 24,
            "x": 0,
            "y": 7
          },
          "id": 28,
          "libraryPanel": {
            "description": "",
            "meta": {
              "connectedDashboards": 2,
              "created": "2022-05-04T15:31:29+02:00",
              "createdBy": {
                "avatarUrl": "/avatar/d3c76a40aa0be613f65467b2e9881c2a",
                "id": 13,
                "name": "brockmeyer@elan-ev.de"
              },
              "folderName": "UOS",
              "folderUid": "D4ckWXPnk",
              "updated": "2022-05-04T15:31:29+02:00",
              "updatedBy": {
                "avatarUrl": "/avatar/d3c76a40aa0be613f65467b2e9881c2a",
                "id": 13,
                "name": "brockmeyer@elan-ev.de"
              }
            },
            "name": "Host Metadata",
            "type": "table",
            "uid": "UpQ1cd_nz",
            "version": 1
          },
          "options": {
            "footer": {
              "fields": "",
              "reducer": [
                "sum"
              ],
              "show": false
            },
            "showHeader": true,
            "sortBy": []
          },
          "pluginVersion": "9.0.2",
          "targets": [
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(node_uname_info, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "format": "table",
              "hide": false,
              "instant": true,
              "range": false,
              "refId": "G"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(node_memory_MemTotal_bytes, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "format": "table",
              "instant": true,
              "interval": "",
              "legendFormat": "__auto",
              "range": false,
              "refId": "A"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(node_filesystem_size_bytes{mountpoint=\"/\",fstype!=\"rootfs\"}, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "format": "table",
              "hide": false,
              "instant": true,
              "interval": "",
              "legendFormat": "__auto",
              "refId": "B"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(count without(cpu, mode) (node_cpu_seconds_total{mode=\"idle\"}), \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "format": "table",
              "hide": false,
              "instant": true,
              "range": false,
              "refId": "F"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "editorMode": "code",
              "exemplar": false,
              "expr": "label_replace(node_time_seconds - node_boot_time_seconds, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "format": "table",
              "hide": false,
              "instant": true,
              "interval": "",
              "legendFormat": "__auto",
              "refId": "C"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "exemplar": false,
              "expr": "label_replace(probe_ssl_earliest_cert_expiry - time(), \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "format": "table",
              "hide": false,
              "instant": true,
              "interval": "",
              "legendFormat": "SSL Expiry",
              "refId": "D"
            },
            {
              "datasource": {
                "type": "prometheus",
                "uid": "${DS_OPENCAST-METRIKEN}"
              },
              "exemplar": false,
              "expr": "label_replace(node_os_info, \"instance\", \"$1\", \"instance\", \"{{ your_domain_regex }}\")",
              "format": "table",
              "hide": false,
              "instant": true,
              "interval": "",
              "legendFormat": "",
              "refId": "E"
            }
          ],
          "title": "Host Metadata",
          "transformations": [
            {
              "id": "seriesToColumns",
              "options": {
                "byField": "instance"
              }
            },
            {
              "id": "organize",
              "options": {
                "excludeByName": {
                  "Time 1": true,
                  "Time 2": true,
                  "Time 3": true,
                  "Time 4": true,
                  "Time 5": true,
                  "Time 6": true,
                  "Time 7": true,
                  "Value #E": true,
                  "Value #G": true,
                  "__name__": true,
                  "__name__ 1": true,
                  "__name__ 2": true,
                  "__name__ 3": true,
                  "__name__ 4": true,
                  "device": true,
                  "domainname": true,
                  "environment 1": true,
                  "environment 2": true,
                  "environment 3": true,
                  "environment 4": true,
                  "environment 5": true,
                  "environment 6": true,
                  "environment 7": true,
                  "fstype": true,
                  "id": true,
                  "id_like": true,
                  "instance": false,
                  "job 1": true,
                  "job 2": true,
                  "job 3": true,
                  "job 4": true,
                  "job 5": true,
                  "job 6": true,
                  "job 7": true,
                  "machine": true,
                  "mountpoint": true,
                  "name": true,
                  "release": true,
                  "sysname": true,
                  "version": true,
                  "version 2": true,
                  "version_codename": true,
                  "version_id": true
                },
                "indexByName": {},
                "renameByName": {
                  "Time 1": "Time",
                  "Time 2": "",
                  "Value #A": "Memory Total",
                  "Value #B": "RootFS Total",
                  "Value #C": "Uptime",
                  "Value #D": "Cert. Expires In",
                  "Value #F": "CPU Cores",
                  "__name__ 1": "",
                  "environment 1": "Environment",
                  "environment 4": "",
                  "instance": "Host",
                  "job 4": "",
                  "nodename": "VM Name",
                  "pretty_name": "OS Version"
                }
              }
            }
          ],
          "transparent": true,
          "type": "table"
        }
      ],
      "title": "Host List",
      "type": "row"
    }
  ],
  "refresh": false,
  "schemaVersion": 36,
  "style": "dark",
  "tags": [],
  "templating": {
    "list": []
  },
  "time": {
    "from": "now-12h",
    "to": "now"
  },
  "timepicker": {},
  "timezone": "",
  "title": "OC Overview General",
  "uid": "AOJ7oXenz",
  "version": 1,
  "weekStart": ""
}